<div class="row text-center">
  <div class="col-md-4">
    <div class="card p-3 bg-primary text-white">
      <h4>Orders</h4>
      <p>120</p>
      <a routerLink="/admin/products" class="btn btn-light mt-2">Manage Products</a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card p-3 bg-success text-white">
      <h4>Users</h4>
      <p>80</p>
      <a routerLink="/admin/users" class="btn btn-light mt-2">Manage Users</a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card p-3 bg-warning text-white">
      <h4>Products</h4>
      <p>45</p>
      <a routerLink="/admin/products" class="btn btn-light mt-2">View Products</a>
    </div>
  </div>
</div>


