<footer class="bg-light text-center text-lg-start  w-100">
    <div class="text-center p-3">
        © 2024 MyApp
    </div>
    <div class="text-center p-3">
        <a class="text-dark" href="#">Privacy Policy</a> | 
        <a class="text-dark" href="#">Terms of Service</a>
    </div>
    <div class="text-center p-3">
        Follow us on 
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
</footer>