/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin: 0;
}
:root{
            /* CSS HEX */
    --van-dyke: #3F332Aff;
    --chamoisee: #9E7148ff;
    --light-blue: #B7DBE8ff;
    --light-blue-right: rgba(183, 219, 232, 0.5);
    --pale-azure: #8FD5FDff;
    --lion: #AB8C5Eff;
    --lion-light: rgba(171, 140, 94, 0.5);
}